.display, .complete_operation {
    width: 80%;
    height: 2rem;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    text-align: right;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    overflow: auto;
    font-weight: bold;
}
